
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main-dashboard-content" class="p-3">
    <div class="container">
        <div class="dashboard-container">
            <div class="page-title d-flex justify-content-between py-2">
                <nav class="my-auto" aria-label="breadcrumb">
                    <ol class="breadcrumb p-0 my-auto" style="background: none;">
                        <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
                    </ol>
                </nav>
                <div>
                    <h6>Welcome Back !</h6>
                </div>
            </div>
            <div class="content-section pt-3 pb-5">
                <div class="d-flex overview">
                    <div class="item p-3 mx-1">
                        <h5>Labs</h5>
                        <div class="d-flex justify-content-between">
                            <p>Total</p>
                            <p class="">300</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Courses</h5>
                        <div class="d-flex justify-content-between">
                            <p>Uploaded</p>
                            <p class="">300</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Complaints</h5>
                        <div class="d-flex justify-content-between">
                            <p>Received</p>
                            <p class="">300</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Users</h5>
                        <div class="d-flex justify-content-between">
                            <p>Registered</p>
                            <p class="">300</p>
                        </div>
                    </div>
                </div>
                <div class="announcement d-flex pl-1 py-5 col-12 justify-content-between">
                    <div class="item">
                        <p><span class="h6 px-2 bg-blue text-white mr-2">Important !</span><span> You should check in on some of those fields below.</span></p>
                    </div>
                    <div class="item">
                        <a href="announcement.html" class="my-auto"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="orange">Complaints <span class="badge bg-orange text-white">New</span></h6>
                            <a href="complaints.html" class="text-dark">More &raquo;</a>
                        </div>

                        <!-- Table Content Section -->
                        <div class="table-responsive">
                            <table class="w-100 table-bordered table table-striped table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>UserID </th>
                                        <th>Full Name</th>
                                        <th>Department</th>
                                        <th width="300px" class="text-left">Issues / Complains</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Lab I</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Lab I</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Lab I</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lab I</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Lab I</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- !Table Content Section -->
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="orange mb-3 my-auto">Instructors</h6>
                            <a class="text-dark" href="complaints.html">More &raquo;</a>
                        </div>

                        <!-- Table Content Section -->
                        <div class="table-responsive">
                            <table class="w-100 table-bordered table">
                                <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>ID #</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1001</td>
                                        <td>M. Shoaib</td>
                                        <td>shoaibhussain026@clms.com</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1002</td>
                                        <td>Ali</td>
                                        <td>alikhan@clms.com</td>
                                        <td>Active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- !Table Content Section -->
                    </div>

                    <div class="col-12">
                        <hr>
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="orange mb-3 my-auto">Courses <span class="badge bg-orange text-white">Recent</span></h6>
                            <a class="text-dark" href="complaints.html">More &raquo;</a>
                        </div>

                        <!-- Table Content Section -->
                        <div class="table-responsive">
                            <table class="w-100 table-bordered table">
                                <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>Course Name</th>
                                        <th>Course Type</th>
                                        <th>Thumbnail</th>
                                        <th>Video Link</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>MS Word</td>
                                        <td>Beginner's Guide</td>
                                        <td><img src="../assests/img/learning/ms-word.jpg" width="60px" alt=""></td>
                                        <td>2</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>MS Excel</td>
                                        <td>Advance Guide</td>
                                        <td><img src="../assests/img/learning/ms-excel.jpg" width="60px" alt=""></td>
                                        <td>2</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>MS Word</td>
                                        <td>Beginner's Guide</td>
                                        <td><img src="../assests/img/learning/ms-word.jpg" width="60px" alt=""></td>
                                        <td>2</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>MS Excel</td>
                                        <td>Advance Guide</td>
                                        <td><img src="../assests/img/learning/ms-excel.jpg" width="60px" alt=""></td>
                                        <td>2</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>MS Word</td>
                                        <td>Beginner's Guide</td>
                                        <td><img src="../assests/img/learning/ms-word.jpg" width="60px" alt=""></td>
                                        <td>2</td>
                                        <td>Active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- !Table Content Section -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

