
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main-dashboard-content" class="p-3">
    <div class="container">
        <div class="dashboard-container">
            <div class="page-title d-flex justify-content-between py-2">
                <nav class="my-auto" aria-label="breadcrumb">
                    <ol class="breadcrumb p-0 my-auto" style="background: none;">
                        <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
                    </ol>
                </nav>
                <div>
                    <h6>Welcome Back !</h6>
                </div>
            </div>
            <div class="content-section pt-3 pb-5">
                <div class="d-flex overview">
                    <div class="item p-3 mx-1">
                        <h5>Labs</h5>
                        <div class="d-flex justify-content-between">
                            <p>Total</p>
                            <p class="">@ViewBag.LabCount</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Courses</h5>
                        <div class="d-flex justify-content-between">
                            <p>Uploaded</p>
                            <p class="">@ViewBag.ELearningCount</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Complaints</h5>
                        <div class="d-flex justify-content-between">
                            <p>Received</p>
                            <p class="">@ViewBag.ReportCount</p>
                        </div>
                    </div>
                    <div class="item p-3 mx-1">
                        <h5>Users</h5>
                        <div class="d-flex justify-content-between">
                            <p>Registered</p>
                            <p class="">@ViewBag.UserCount</p>
                        </div>
                    </div>
                </div>
                <div class="announcement d-flex pl-1 py-5 col-12 justify-content-between">
                    <div class="item">
                        <p><span class="h6 px-2 bg-blue text-white mr-2">Important !</span><span> You should check in on some of those fields below.</span></p>
                    </div>
                    <div class="item">
                        <a href="announcement.html" class="my-auto"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</main>

