<div class="sidebar">
    <div class="p-md-2 px-5 py-3 " id="dashboard-brand">
        <a href="dashboard.html"><img src="~/img/logo-dark.png" width="60px" alt=""></a>
        <button class="btn toggler-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <!-- Sidebar Nav -->
    <div class="" id="side-Nav">
        <a class="active" href="dashboard.html"><i class="fas fa-chart-pie"></i>Overview</a>
        <a asp-controller="Lab" asp-action="Index"><i class="fas fa-desktop"></i>Labs</a>
        <a href="courses.html"><i class="fas fa-book-open"></i>Courses</a>
        <a href="assignment.html"><i class="fas fa-briefcase"></i>Assignments</a>
        <a href="complaints.html"><i class="fas fa-lightbulb"></i>Complaints</a>
        <a href="announcement.html"><i class="fas fa-bullhorn"></i>Announcement</a>
        <a href="users.html"><i class="fas fa-users"></i>Accounts</a>
        <a asp-area="Admin" asp-controller="Admin" asp-action="Contact">
            <i class="fas fa-address-book"></i> Contact
        </a>
        <a asp-area="Admin" asp-controller="AboutUs" asp-action="Index">
            <i class="fas fa-address-book"></i> AboutUs
        </a>
    </div>
    <!-- !Sidebar Nav -->
</div>
