@model IEnumerable<E_Administration.Models.Lab>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-title d-flex justify-content-between py-2">
    <nav class="my-auto" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 my-auto" style="background: none;">   
            <li class="breadcrumb-item"><a href="dashboard.html" class="orange">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Labs </li>
        </ol>
    </nav>
    <a class="btn bg-orange text-white" asp-controller="Lab" asp-action="ListLabs">
        <i class="fas fa-file-medical mr-1"></i> Manage Labs
    </a>
</div>

<div class="lab-all">
    <div class="grid">
        @foreach (var item in Model)
        {
            if (item.IsOperational == true)
            {
                <!-- Lab hoạt động -->
                <a asp-controller="Lab" asp-action="Details" asp-route-id="@item.ID">
                    <div class="box small-text">Room @Html.DisplayFor(modelItem => item.ID)</div>
                </a>
            }
            else
            {
                <!-- Lab không hoạt động -->
                <div class="box text-muted" style="pointer-events: none; opacity: 0.5;">
                    Room @Html.DisplayFor(modelItem => item.ID)<br />
                </div>
            }
        }
    </div>
</div>
